# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.png
*.csv
*.xlsx

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Signals/sim
Hours-Money\ Interface/main
MELT\ Conversion\ Models/main
Houes-Money\ Interface\ Improved/main

# Hidden system and tool artifacts
.DS_Store
.venv
myenv
.vscode
compile_commands.json

# debug information files
*.dwo

# Python cache and build artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
build/
dist/
.cache/


bin/*
build/*
data/*
lte_program
src/lte_program
*.o
*.swp
src/*.swp
header/*.swp
test/*.swp
*.txt
